app/code/local/Yfs/Ecomm/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/"
                    schemaLocation="http://schemas.xmlsoap.org/soap/encoding/"/>
            <complexType name="catalogProductListArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:catalogProductListEntity[]"/>
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="catalogProductListEntity">
                <all>
                    <element name="product_id" type="xsd:string"/>
                    <element name="sku" type="xsd:string"/>
                    <element name="name" type="xsd:string"/>
                    <element name="short_description" type="xsd:string" minOccurs="0"/>
                    <element name="price" type="xsd:double" minOccurs="0"/>
                    <element name="qty" type="xsd:int" minOccurs="0"/>
                    <element name="set" type="xsd:string"/>
                    <element name="type" type="xsd:string"/>
                    <element name="created_at" type="xsd:string" minOccurs="0"/>
                    <element name="category_ids" type="typens:ArrayOfString"/>
                    <element name="parent_sku" type="xsd:string"/>
                </all>
            </complexType>
            <complexType name="customerListArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:customerListEntity[]"/>
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="customerListEntity">
                <all>
                    <element name="customer_id" type="xsd:int" minOccurs="0" />
                    <element name="created_at" type="xsd:string" minOccurs="0" />
                    <element name="updated_at" type="xsd:string" minOccurs="0" />
                    <element name="increment_id" type="xsd:string" minOccurs="0" />
                    <element name="store_id" type="xsd:int" minOccurs="0" />
                    <element name="website_id" type="xsd:int" minOccurs="0" />
                    <element name="created_in" type="xsd:string" minOccurs="0" />
                    <element name="email" type="xsd:string" minOccurs="0" />
                    <element name="firstname" type="xsd:string" minOccurs="0" />
                    <element name="middlename" type="xsd:string" minOccurs="0" />
                    <element name="lastname" type="xsd:string" minOccurs="0" />
                    <element name="group_id" type="xsd:int" minOccurs="0" />
                    <element name="prefix" type="xsd:string" minOccurs="0" />
                    <element name="suffix" type="xsd:string" minOccurs="0" />
                    <element name="dob" type="xsd:string" minOccurs="0" />
                    <element name="taxvat" type="xsd:string" minOccurs="0" />
                    <element name="confirmation" type="xsd:boolean" minOccurs="0" />
                    <element name="password_hash" type="xsd:string" minOccurs="0" />
                    <element name="addresses" type="typens:customerAddressListEntityArray" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="customerAddressListEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:customerAddressListEntity[]"/>
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="customerAddressListEntity">
                <all>
                    <element name="customer_address_id" type="xsd:int" minOccurs="0" />
                    <element name="created_at" type="xsd:string" minOccurs="0" />
                    <element name="updated_at" type="xsd:string" minOccurs="0" />
                    <element name="increment_id" type="xsd:string" minOccurs="0" />
                    <element name="city" type="xsd:string" minOccurs="0" />
                    <element name="company" type="xsd:string" minOccurs="0" />
                    <element name="country_id" type="xsd:string" minOccurs="0" />
                    <element name="fax" type="xsd:string" minOccurs="0" />
                    <element name="firstname" type="xsd:string" minOccurs="0" />
                    <element name="lastname" type="xsd:string" minOccurs="0" />
                    <element name="middlename" type="xsd:string" minOccurs="0" />
                    <element name="postcode" type="xsd:string" minOccurs="0" />
                    <element name="prefix" type="xsd:string" minOccurs="0" />
                    <element name="region" type="xsd:string" minOccurs="0" />
                    <element name="region_id" type="xsd:int" minOccurs="0" />
                    <element name="street" type="xsd:string" minOccurs="0" />
                    <element name="suffix" type="xsd:string" minOccurs="0" />
                    <element name="telephone" type="xsd:string" minOccurs="0" />
                    <element name="is_default_billing" type="xsd:boolean" minOccurs="0" />
                    <element name="is_default_shipping" type="xsd:boolean" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="salesGetOrderListEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:salesGetOrderListEntity[]"/>
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="salesGetOrderListEntity">
                <all>
                    <element name="increment_id" type="xsd:string" minOccurs="0" />
                    <element name="store_id" type="xsd:string" minOccurs="0" />
                    <element name="created_at" type="xsd:string" minOccurs="0" />
                    <element name="updated_at" type="xsd:string" minOccurs="0" />
                    <element name="customer_id" type="xsd:string" minOccurs="0" />
                    <element name="tax_amount" type="xsd:string" minOccurs="0" />
                    <element name="shipping_amount" type="xsd:string" minOccurs="0" />
                    <element name="discount_amount" type="xsd:string" minOccurs="0" />
                    <element name="subtotal" type="xsd:string" minOccurs="0" />
                    <element name="grand_total" type="xsd:string" minOccurs="0" />
                    <element name="total_paid" type="xsd:string" minOccurs="0" />
                    <element name="total_refunded" type="xsd:string" minOccurs="0" />
                    <element name="total_qty_ordered" type="xsd:string" minOccurs="0" />
                    <element name="total_canceled" type="xsd:string" minOccurs="0" />
                    <element name="total_invoiced" type="xsd:string" minOccurs="0" />
                    <element name="total_online_refunded" type="xsd:string" minOccurs="0" />
                    <element name="total_offline_refunded" type="xsd:string" minOccurs="0" />
                    <element name="base_tax_amount" type="xsd:string" minOccurs="0" />
                    <element name="base_shipping_amount" type="xsd:string" minOccurs="0" />
                    <element name="base_discount_amount" type="xsd:string" minOccurs="0" />
                    <element name="base_subtotal" type="xsd:string" minOccurs="0" />
                    <element name="base_grand_total" type="xsd:string" minOccurs="0" />
                    <element name="base_total_paid" type="xsd:string" minOccurs="0" />
                    <element name="base_total_refunded" type="xsd:string" minOccurs="0" />
                    <element name="base_total_qty_ordered" type="xsd:string" minOccurs="0" />
                    <element name="base_total_canceled" type="xsd:string" minOccurs="0" />
                    <element name="base_total_invoiced" type="xsd:string" minOccurs="0" />
                    <element name="base_total_online_refunded" type="xsd:string" minOccurs="0" />
                    <element name="base_total_offline_refunded" type="xsd:string" minOccurs="0" />
                    <element name="billing_address_id" type="xsd:string" minOccurs="0" />
                    <element name="billing_firstname" type="xsd:string" minOccurs="0" />
                    <element name="billing_lastname" type="xsd:string" minOccurs="0" />
                    <element name="shipping_address_id" type="xsd:string" minOccurs="0" />
                    <element name="shipping_firstname" type="xsd:string" minOccurs="0" />
                    <element name="shipping_lastname" type="xsd:string" minOccurs="0" />
                    <element name="billing_name" type="xsd:string" minOccurs="0" />
                    <element name="shipping_name" type="xsd:string" minOccurs="0" />
                    <element name="store_to_base_rate" type="xsd:string" minOccurs="0" />
                    <element name="store_to_order_rate" type="xsd:string" minOccurs="0" />
                    <element name="base_to_global_rate" type="xsd:string" minOccurs="0" />
                    <element name="base_to_order_rate" type="xsd:string" minOccurs="0" />
                    <element name="weight" type="xsd:string" minOccurs="0" />
                    <element name="store_name" type="xsd:string" minOccurs="0" />
                    <element name="remote_ip" type="xsd:string" minOccurs="0" />
                    <element name="status" type="xsd:string" minOccurs="0" />
                    <element name="state" type="xsd:string" minOccurs="0" />
                    <element name="applied_rule_ids" type="xsd:string" minOccurs="0" />
                    <element name="global_currency_code" type="xsd:string" minOccurs="0" />
                    <element name="base_currency_code" type="xsd:string" minOccurs="0" />
                    <element name="store_currency_code" type="xsd:string" minOccurs="0" />
                    <element name="order_currency_code" type="xsd:string" minOccurs="0" />
                    <element name="shipping_method" type="xsd:string" minOccurs="0" />
                    <element name="shipping_description" type="xsd:string" minOccurs="0" />
                    <element name="customer_email" type="xsd:string" minOccurs="0" />
                    <element name="customer_firstname" type="xsd:string" minOccurs="0" />
                    <element name="customer_lastname" type="xsd:string" minOccurs="0" />
                    <element name="quote_id" type="xsd:string" minOccurs="0" />
                    <element name="is_virtual" type="xsd:string" minOccurs="0" />
                    <element name="customer_group_id" type="xsd:string" minOccurs="0" />
                    <element name="customer_note_notify" type="xsd:string" minOccurs="0" />
                    <element name="customer_is_guest" type="xsd:string" minOccurs="0" />
                    <element name="email_sent" type="xsd:string" minOccurs="0" />
                    <element name="order_id" type="xsd:string" minOccurs="0" />
                    <element name="gift_message_id" type="xsd:string" minOccurs="0" />
                    <element name="coupon_code" type="xsd:string" minOccurs="0" />
                    <element name="protect_code" type="xsd:string" minOccurs="0" />
                    <element name="base_discount_canceled" type="xsd:string" minOccurs="0" />
                    <element name="base_discount_invoiced" type="xsd:string" minOccurs="0" />
                    <element name="base_discount_refunded" type="xsd:string" minOccurs="0" />
                    <element name="base_shipping_canceled" type="xsd:string" minOccurs="0" />
                    <element name="base_shipping_invoiced" type="xsd:string" minOccurs="0" />
                    <element name="base_shipping_refunded" type="xsd:string" minOccurs="0" />
                    <element name="base_shipping_tax_amount" type="xsd:string" minOccurs="0" />
                    <element name="base_shipping_tax_refunded" type="xsd:string" minOccurs="0" />
                    <element name="base_subtotal_canceled" type="xsd:string" minOccurs="0" />
                    <element name="base_subtotal_invoiced" type="xsd:string" minOccurs="0" />
                    <element name="base_subtotal_refunded" type="xsd:string" minOccurs="0" />
                    <element name="base_tax_canceled" type="xsd:string" minOccurs="0" />
                    <element name="base_tax_invoiced" type="xsd:string" minOccurs="0" />
                    <element name="base_tax_refunded" type="xsd:string" minOccurs="0" />
                    <element name="base_total_invoiced_cost" type="xsd:string" minOccurs="0" />
                    <element name="discount_canceled" type="xsd:string" minOccurs="0" />
                    <element name="discount_invoiced" type="xsd:string" minOccurs="0" />
                    <element name="discount_refunded" type="xsd:string" minOccurs="0" />
                    <element name="shipping_canceled" type="xsd:string" minOccurs="0" />
                    <element name="shipping_invoiced" type="xsd:string" minOccurs="0" />
                    <element name="shipping_refunded" type="xsd:string" minOccurs="0" />
                    <element name="shipping_tax_amount" type="xsd:string" minOccurs="0" />
                    <element name="shipping_tax_refunded" type="xsd:string" minOccurs="0" />
                    <element name="subtotal_canceled" type="xsd:string" minOccurs="0" />
                    <element name="subtotal_invoiced" type="xsd:string" minOccurs="0" />
                    <element name="subtotal_refunded" type="xsd:string" minOccurs="0" />
                    <element name="tax_canceled" type="xsd:string" minOccurs="0" />
                    <element name="tax_invoiced" type="xsd:string" minOccurs="0" />
                    <element name="tax_refunded" type="xsd:string" minOccurs="0" />
                    <element name="can_ship_partially" type="xsd:string" minOccurs="0" />
                    <element name="can_ship_partially_item" type="xsd:string" minOccurs="0" />
                    <element name="edit_increment" type="xsd:string" minOccurs="0" />
                    <element name="forced_do_shipment_with_invoice" type="xsd:string" minOccurs="0" />
                    <element name="payment_authorization_expiration" type="xsd:string" minOccurs="0" />
                    <element name="paypal_ipn_customer_notified" type="xsd:string" minOccurs="0" />
                    <element name="quote_address_id" type="xsd:string" minOccurs="0" />
                    <element name="adjustment_negative" type="xsd:string" minOccurs="0" />
                    <element name="adjustment_positive" type="xsd:string" minOccurs="0" />
                    <element name="base_adjustment_negative" type="xsd:string" minOccurs="0" />
                    <element name="base_adjustment_positive" type="xsd:string" minOccurs="0" />
                    <element name="base_shipping_discount_amount" type="xsd:string" minOccurs="0" />
                    <element name="base_subtotal_incl_tax" type="xsd:string" minOccurs="0" />
                    <element name="base_total_due" type="xsd:string" minOccurs="0" />
                    <element name="payment_authorization_amount" type="xsd:string" minOccurs="0" />
                    <element name="shipping_discount_amount" type="xsd:string" minOccurs="0" />
                    <element name="subtotal_incl_tax" type="xsd:string" minOccurs="0" />
                    <element name="total_due" type="xsd:string" minOccurs="0" />
                    <element name="customer_dob" type="xsd:string" minOccurs="0" />
                    <element name="customer_middlename" type="xsd:string" minOccurs="0" />
                    <element name="customer_prefix" type="xsd:string" minOccurs="0" />
                    <element name="customer_suffix" type="xsd:string" minOccurs="0" />
                    <element name="customer_taxvat" type="xsd:string" minOccurs="0" />
                    <element name="discount_description" type="xsd:string" minOccurs="0" />
                    <element name="ext_customer_id" type="xsd:string" minOccurs="0" />
                    <element name="ext_order_id" type="xsd:string" minOccurs="0" />
                    <element name="hold_before_state" type="xsd:string" minOccurs="0" />
                    <element name="hold_before_status" type="xsd:string" minOccurs="0" />
                    <element name="original_increment_id" type="xsd:string" minOccurs="0" />
                    <element name="relation_child_id" type="xsd:string" minOccurs="0" />
                    <element name="relation_child_real_id" type="xsd:string" minOccurs="0" />
                    <element name="relation_parent_id" type="xsd:string" minOccurs="0" />
                    <element name="relation_parent_real_id" type="xsd:string" minOccurs="0" />
                    <element name="x_forwarded_for" type="xsd:string" minOccurs="0" />
                    <element name="customer_note" type="xsd:string" minOccurs="0" />
                    <element name="total_item_count" type="xsd:string" minOccurs="0" />
                    <element name="customer_gender" type="xsd:string" minOccurs="0" />
                    <element name="hidden_tax_amount" type="xsd:string" minOccurs="0" />
                    <element name="base_hidden_tax_amount" type="xsd:string" minOccurs="0" />
                    <element name="shipping_hidden_tax_amount" type="xsd:string" minOccurs="0" />
                    <element name="base_shipping_hidden_tax_amount" type="xsd:string" minOccurs="0" />
                    <element name="hidden_tax_invoiced" type="xsd:string" minOccurs="0" />
                    <element name="base_hidden_tax_invoiced" type="xsd:string" minOccurs="0" />
                    <element name="hidden_tax_refunded" type="xsd:string" minOccurs="0" />
                    <element name="base_hidden_tax_refunded" type="xsd:string" minOccurs="0" />
                    <element name="shipping_incl_tax" type="xsd:string" minOccurs="0" />
                    <element name="base_shipping_incl_tax" type="xsd:string" minOccurs="0" />
                    <element name="base_customer_balance_amount" type="xsd:string" minOccurs="0" />
                    <element name="customer_balance_amount" type="xsd:string" minOccurs="0" />
                    <element name="base_customer_balance_invoiced" type="xsd:string" minOccurs="0" />
                    <element name="customer_balance_invoiced" type="xsd:string" minOccurs="0" />
                    <element name="base_customer_balance_refunded" type="xsd:string" minOccurs="0" />
                    <element name="customer_balance_refunded" type="xsd:string" minOccurs="0" />
                    <element name="base_customer_balance_total_refunded" type="xsd:string" minOccurs="0" />
                    <element name="customer_balance_total_refunded" type="xsd:string" minOccurs="0" />
                    <element name="gift_cards" type="xsd:string" minOccurs="0" />
                    <element name="base_gift_cards_amount" type="xsd:string" minOccurs="0" />
                    <element name="gift_cards_amount" type="xsd:string" minOccurs="0" />
                    <element name="base_gift_cards_invoiced" type="xsd:string" minOccurs="0" />
                    <element name="gift_cards_invoiced" type="xsd:string" minOccurs="0" />
                    <element name="base_gift_cards_refunded" type="xsd:string" minOccurs="0" />
                    <element name="gift_cards_refunded" type="xsd:string" minOccurs="0" />
                    <element name="reward_points_balance" type="xsd:string" minOccurs="0" />
                    <element name="base_reward_currency_amount" type="xsd:string" minOccurs="0" />
                    <element name="reward_currency_amount" type="xsd:string" minOccurs="0" />
                    <element name="base_reward_currency_amount_invoiced" type="xsd:string" minOccurs="0" />
                    <element name="reward_currency_amount_invoiced" type="xsd:string" minOccurs="0" />
                    <element name="base_reward_currency_amount_refunded" type="xsd:string" minOccurs="0" />
                    <element name="reward_currency_amount_refunded" type="xsd:string" minOccurs="0" />
                    <element name="reward_points_balance_refunded" type="xsd:string" minOccurs="0" />
                    <element name="reward_points_balance_to_refund" type="xsd:string" minOccurs="0" />
                    <element name="reward_salesrule_points" type="xsd:string" minOccurs="0" />
                    <element name="firstname" type="xsd:string" minOccurs="0" />
                    <element name="lastname" type="xsd:string" minOccurs="0" />
                    <element name="telephone" type="xsd:string" minOccurs="0" />
                    <element name="postcode" type="xsd:string" minOccurs="0" />
                    <element name="shipping_address" type="typens:salesShippingAddressEntity" minOccurs="0" />
                    <element name="billing_address" type="typens:salesBillingAddressEntity" minOccurs="0" />
                    <element name="items" type="typens:salesItemsListEntityArray" minOccurs="0" />
                    <element name="payment" type="typens:salesPaymentEntity" minOccurs="0" />
                    <element name="status_history" type="typens:salesStatusHistoryEntityArray" minOccurs="0" />
                    <element name="shipmentCollection" type="typens:salesShipmentListEntityArray" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="salesShipmentListEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:salesShipmentListEntity[]"/>
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="salesShipmentListEntity">
                <all>
                    <element name="increment_id" type="xsd:string" minOccurs="0" />
                    <element name="parent_id" type="xsd:string" minOccurs="0" />
                    <element name="store_id" type="xsd:string" minOccurs="0" />
                    <element name="created_at" type="xsd:string" minOccurs="0" />
                    <element name="updated_at" type="xsd:string" minOccurs="0" />
                    <element name="is_active" type="xsd:string" minOccurs="0" />
                    <element name="shipping_address_id" type="xsd:string" minOccurs="0" />
                    <element name="shipping_firstname" type="xsd:string" minOccurs="0" />
                    <element name="shipping_lastname" type="xsd:string" minOccurs="0" />
                    <element name="order_id" type="xsd:string" minOccurs="0" />
                    <element name="order_increment_id" type="xsd:string" minOccurs="0" />
                    <element name="order_created_at" type="xsd:string" minOccurs="0" />
                    <element name="total_qty" type="xsd:string" minOccurs="0" />
                    <element name="shipment_id" type="xsd:string" minOccurs="0" />
                    <element name="items" type="typens:salesOrderShipmentItemInfoEntityArray" minOccurs="0" />
                    <element name="tracks" type="typens:salesOrderShipmentTrackInfoEntityArray" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="salesOrderShipmentItemInfoEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:salesOrderShipmentItemInfoEntity[]" />
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="salesOrderShipmentItemInfoEntity">
                <all>
                    <element name="increment_id" type="xsd:string" minOccurs="0" />
                    <element name="parent_id" type="xsd:string" minOccurs="0" />
                    <element name="created_at" type="xsd:string" minOccurs="0" />
                    <element name="updated_at" type="xsd:string" minOccurs="0" />
                    <element name="is_active" type="xsd:string" minOccurs="0" />
                    <element name="sku" type="xsd:string" minOccurs="0" />
                    <element name="name" type="xsd:string" minOccurs="0" />
                    <element name="order_item_id" type="xsd:string" minOccurs="0" />
                    <element name="product_id" type="xsd:string" minOccurs="0" />
                    <element name="weight" type="xsd:string" minOccurs="0" />
                    <element name="price" type="xsd:string" minOccurs="0" />
                    <element name="qty" type="xsd:string" minOccurs="0" />
                    <element name="item_id" type="xsd:string" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="salesOrderShipmentTrackInfoEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:salesOrderShipmentTrackInfoEntity[]" />
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="salesOrderShipmentTrackInfoEntity">
                <all>
                    <element name="increment_id" type="xsd:string" minOccurs="0" />
                    <element name="parent_id" type="xsd:string" minOccurs="0" />
                    <element name="created_at" type="xsd:string" minOccurs="0" />
                    <element name="updated_at" type="xsd:string" minOccurs="0" />
                    <element name="is_active" type="xsd:string" minOccurs="0" />
                    <element name="carrier_code" type="xsd:string" minOccurs="0" />
                    <element name="title" type="xsd:string" minOccurs="0" />
                    <element name="number" type="xsd:string" minOccurs="0" />
                    <element name="order_id" type="xsd:string" minOccurs="0" />
                    <element name="track_id" type="xsd:string" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="salesShippingAddressEntity">
                <all>
                    <element name="increment_id" type="xsd:string" minOccurs="0" />
                    <element name="parent_id" type="xsd:string" minOccurs="0" />
                    <element name="created_at" type="xsd:string" minOccurs="0" />
                    <element name="updated_at" type="xsd:string" minOccurs="0" />
                    <element name="is_active" type="xsd:string" minOccurs="0" />
                    <element name="address_type" type="xsd:string" minOccurs="0" />
                    <element name="firstname" type="xsd:string" minOccurs="0" />
                    <element name="lastname" type="xsd:string" minOccurs="0" />
                    <element name="company" type="xsd:string" minOccurs="0" />
                    <element name="street" type="xsd:string" minOccurs="0" />
                    <element name="city" type="xsd:string" minOccurs="0" />
                    <element name="region" type="xsd:string" minOccurs="0" />
                    <element name="postcode" type="xsd:string" minOccurs="0" />
                    <element name="country_id" type="xsd:string" minOccurs="0" />
                    <element name="telephone" type="xsd:string" minOccurs="0" />
                    <element name="fax" type="xsd:string" minOccurs="0" />
                    <element name="region_id" type="xsd:string" minOccurs="0" />
                    <element name="address_id" type="xsd:string" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="salesBillingAddressEntity">
                <all>
                    <element name="increment_id" type="xsd:string" minOccurs="0" />
                    <element name="parent_id" type="xsd:string" minOccurs="0" />
                    <element name="created_at" type="xsd:string" minOccurs="0" />
                    <element name="updated_at" type="xsd:string" minOccurs="0" />
                    <element name="is_active" type="xsd:string" minOccurs="0" />
                    <element name="address_type" type="xsd:string" minOccurs="0" />
                    <element name="firstname" type="xsd:string" minOccurs="0" />
                    <element name="lastname" type="xsd:string" minOccurs="0" />
                    <element name="company" type="xsd:string" minOccurs="0" />
                    <element name="street" type="xsd:string" minOccurs="0" />
                    <element name="city" type="xsd:string" minOccurs="0" />
                    <element name="region" type="xsd:string" minOccurs="0" />
                    <element name="postcode" type="xsd:string" minOccurs="0" />
                    <element name="country_id" type="xsd:string" minOccurs="0" />
                    <element name="telephone" type="xsd:string" minOccurs="0" />
                    <element name="fax" type="xsd:string" minOccurs="0" />
                    <element name="region_id" type="xsd:string" minOccurs="0" />
                    <element name="address_id" type="xsd:string" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="salesItemsListEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:salesItemsListEntity[]"/>
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="salesItemsListEntity">
                <all>
                    <element name="item_id" type="xsd:string" minOccurs="0" />
                    <element name="order_id" type="xsd:string" minOccurs="0" />
                    <element name="quote_item_id" type="xsd:string" minOccurs="0" />
                    <element name="created_at" type="xsd:string" minOccurs="0" />
                    <element name="updated_at" type="xsd:string" minOccurs="0" />
                    <element name="product_id" type="xsd:string" minOccurs="0" />
                    <element name="product_type" type="xsd:string" minOccurs="0" />
                    <element name="product_options" type="xsd:string" minOccurs="0" />
                    <element name="weight" type="xsd:string" minOccurs="0" />
                    <element name="is_virtual" type="xsd:string" minOccurs="0" />
                    <element name="sku" type="xsd:string" minOccurs="0" />
                    <element name="name" type="xsd:string" minOccurs="0" />
                    <element name="applied_rule_ids" type="xsd:string" minOccurs="0" />
                    <element name="free_shipping" type="xsd:string" minOccurs="0" />
                    <element name="is_qty_decimal" type="xsd:string" minOccurs="0" />
                    <element name="no_discount" type="xsd:string" minOccurs="0" />
                    <element name="qty_canceled" type="xsd:string" minOccurs="0" />
                    <element name="qty_invoiced" type="xsd:string" minOccurs="0" />
                    <element name="qty_ordered" type="xsd:string" minOccurs="0" />
                    <element name="qty_refunded" type="xsd:string" minOccurs="0" />
                    <element name="qty_shipped" type="xsd:string" minOccurs="0" />
                    <element name="cost" type="xsd:string" minOccurs="0" />
                    <element name="price" type="xsd:string" minOccurs="0" />
                    <element name="base_price" type="xsd:string" minOccurs="0" />
                    <element name="original_price" type="xsd:string" minOccurs="0" />
                    <element name="base_original_price" type="xsd:string" minOccurs="0" />
                    <element name="tax_percent" type="xsd:string" minOccurs="0" />
                    <element name="tax_amount" type="xsd:string" minOccurs="0" />
                    <element name="base_tax_amount" type="xsd:string" minOccurs="0" />
                    <element name="tax_invoiced" type="xsd:string" minOccurs="0" />
                    <element name="base_tax_invoiced" type="xsd:string" minOccurs="0" />
                    <element name="discount_percent" type="xsd:string" minOccurs="0" />
                    <element name="discount_amount" type="xsd:string" minOccurs="0" />
                    <element name="base_discount_amount" type="xsd:string" minOccurs="0" />
                    <element name="discount_invoiced" type="xsd:string" minOccurs="0" />
                    <element name="base_discount_invoiced" type="xsd:string" minOccurs="0" />
                    <element name="amount_refunded" type="xsd:string" minOccurs="0" />
                    <element name="base_amount_refunded" type="xsd:string" minOccurs="0" />
                    <element name="row_total" type="xsd:string" minOccurs="0" />
                    <element name="base_row_total" type="xsd:string" minOccurs="0" />
                    <element name="row_invoiced" type="xsd:string" minOccurs="0" />
                    <element name="base_row_invoiced" type="xsd:string" minOccurs="0" />
                    <element name="row_weight" type="xsd:string" minOccurs="0" />
                    <element name="gift_message_id" type="xsd:string" minOccurs="0" />
                    <element name="gift_message" type="xsd:string" minOccurs="0" />
                    <element name="gift_message_available" type="xsd:string" minOccurs="0" />
                    <element name="base_tax_before_discount" type="xsd:string" minOccurs="0" />
                    <element name="tax_before_discount" type="xsd:string" minOccurs="0" />
                    <element name="weee_tax_applied" type="xsd:string" minOccurs="0" />
                    <element name="weee_tax_applied_amount" type="xsd:string" minOccurs="0" />
                    <element name="weee_tax_applied_row_amount" type="xsd:string" minOccurs="0" />
                    <element name="base_weee_tax_applied_amount" type="xsd:string" minOccurs="0" />
                    <element name="base_weee_tax_applied_row_amount" type="xsd:string" minOccurs="0" />
                    <element name="weee_tax_disposition" type="xsd:string" minOccurs="0" />
                    <element name="weee_tax_row_disposition" type="xsd:string" minOccurs="0" />
                    <element name="base_weee_tax_disposition" type="xsd:string" minOccurs="0" />
                    <element name="base_weee_tax_row_disposition" type="xsd:string" minOccurs="0" />
                    <element name="current_qty" type="xsd:int" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="salesPaymentEntity">
                <all>
                    <element name="increment_id" type="xsd:string" minOccurs="0" />
                    <element name="parent_id" type="xsd:string" minOccurs="0" />
                    <element name="created_at" type="xsd:string" minOccurs="0" />
                    <element name="updated_at" type="xsd:string" minOccurs="0" />
                    <element name="is_active" type="xsd:string" minOccurs="0" />
                    <element name="amount_ordered" type="xsd:string" minOccurs="0" />
                    <element name="shipping_amount" type="xsd:string" minOccurs="0" />
                    <element name="base_amount_ordered" type="xsd:string" minOccurs="0" />
                    <element name="base_shipping_amount" type="xsd:string" minOccurs="0" />
                    <element name="method" type="xsd:string" minOccurs="0" />
                    <element name="po_number" type="xsd:string" minOccurs="0" />
                    <element name="cc_type" type="xsd:string" minOccurs="0" />
                    <element name="cc_number_enc" type="xsd:string" minOccurs="0" />
                    <element name="cc_last4" type="xsd:string" minOccurs="0" />
                    <element name="cc_owner" type="xsd:string" minOccurs="0" />
                    <element name="cc_exp_month" type="xsd:string" minOccurs="0" />
                    <element name="cc_exp_year" type="xsd:string" minOccurs="0" />
                    <element name="cc_ss_start_month" type="xsd:string" minOccurs="0" />
                    <element name="cc_ss_start_year" type="xsd:string" minOccurs="0" />
                    <element name="payment_id" type="xsd:string" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="salesStatusHistoryEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:salesStatusHistoryEntity[]"/>
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="salesStatusHistoryEntity">
                <all>
                    <element name="increment_id" type="xsd:string" minOccurs="0" />
                    <element name="parent_id" type="xsd:string" minOccurs="0" />
                    <element name="created_at" type="xsd:string" minOccurs="0" />
                    <element name="updated_at" type="xsd:string" minOccurs="0" />
                    <element name="is_active" type="xsd:string" minOccurs="0" />
                    <element name="is_customer_notified" type="xsd:string" minOccurs="0" />
                    <element name="status" type="xsd:string" minOccurs="0" />
                    <element name="comment" type="xsd:string" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="SkuArray">
                <all>
                    <element name="sku" type="xsd:associativeEntity" minOccurs="0" />
                </all>
            </complexType>
        </schema>
    </types>
    <message name="CatalogExtensionEnabledRequest">
        <part name="sessionId" type="xsd:string"/>
    </message>
    <message name="CatalogExtensionEnabledResponse">
        <part name="Count" type="xsd:int"/>
    </message>
    <message name="CatalogGetProductCountRequest">
        <part name="sessionId" type="xsd:string"/>
    </message>
    <message name="CatalogGetProductCountResponse">
        <part name="Count" type="xsd:int"/>
    </message>
    <message name="CatalogGetProductListRequest">
        <part name="sessionId" type="xsd:string"/>
        <part name="productId" type="xsd:string"/>
        <part name="limit" type="xsd:int"/>
        <part name="filters" type="typens:filters"/>
        <part name="storeView" type="xsd:string"/>
    </message>
    <message name="CatalogGetProductListResponse">
        <part name="storeView" type="typens:catalogProductListArray"/>
    </message>
    <message name="CatalogUpdateProductRequest">
        <part name="sessionId" type="xsd:string"/>
        <part name="sku" type="xsd:string"/>
        <part name="price" type="xsd:double"/>
        <part name="qty" type="xsd:int"/>
    </message>
    <message name="CatalogUpdateProductResponse">
        <part name="storeView" type="xsd:int"/>
    </message>
    <message name="CustomerGetCustomerCountRequest">
        <part name="sessionId" type="xsd:string"/>
    </message>
    <message name="CustomerGetCustomerCountResponse">
        <part name="Count" type="xsd:int"/>
    </message>
    <message name="CustomerGetCustomerListRequest">
        <part name="sessionId" type="xsd:string"/>
        <part name="customerId" type="xsd:string"/>
        <part name="limit" type="xsd:int"/>
        <part name="filters" type="typens:filters"/>
    </message>
    <message name="CustomerGetCustomerListResponse">
        <part name="storeView" type="typens:customerListArray"/>
    </message>
    <message name="SalesGetOrderCountRequest">
        <part name="sessionId" type="xsd:string"/>
        <part name="dateFrom" type="xsd:string"/>
        <part name="dateTo" type="xsd:string"/>
    </message>
    <message name="SalesGetOrderCountResponse">
        <part name="storeView" type="xsd:int"/>
    </message>
    <message name="SalesGetOrderListRequest">
        <part name="sessionId" type="xsd:string"/>
        <part name="fromDate" type="xsd:string"/>
        <part name="toDate" type="xsd:string"/>
        <part name="page" type="xsd:int"/>
        <part name="limit" type="xsd:int"/>
        <part name="resync" type="xsd:int"/>
        <part name="filters" type="typens:filters"/>
    </message>
    <message name="SalesGetOrderListResponse">
        <part name="storeView" type="typens:salesGetOrderListEntityArray"/>
    </message>
    <message name="SalesGetTaxConfigRequest">
        <part name="sessionId" type="xsd:string"/>
    </message>
    <message name="SalesGetTaxConfigResponse">
        <part name="result" type="xsd:string"/>
    </message>
    <message name="SalesGetOrderStatusRequest">
        <part name="sessionId" type="xsd:string"/>
        <part name="orderId" type="xsd:string"/>
    </message>
    <message name="SalesGetOrderStatusResponse">
        <part name="storeView" type="xsd:string"/>
    </message>
    <message name="SalesUpdateOrderStatusRequest">
        <part name="sessionId" type="xsd:string"/>
        <part name="orderId" type="xsd:string"/>
        <part name="status" type="xsd:string"/>
        <part name="sku" type="typens:SkuArray"/>
        <part name="shipping_method_name" type="xsd:string"/>
        <part name="tracking_number" type="xsd:string"/>
    </message>
    <message name="SalesUpdateOrderStatusResponse">
        <part name="storeView" type="xsd:int"/>
    </message>    
    <portType name="{{var wsdl.handler}}PortType">
        <operation name="CatalogExtensionEnabled">
            <documentation>Check Extension Enabled</documentation>
            <input message="typens:CatalogExtensionEnabledRequest"/>
            <output message="typens:CatalogExtensionEnabledResponse"/>
        </operation>
        <operation name="CatalogGetProductCount">
            <documentation>Retrieve Product Count</documentation>
            <input message="typens:CatalogGetProductCountRequest"/>
            <output message="typens:CatalogGetProductCountResponse"/>
        </operation>
        <operation name="CatalogGetProductList">
            <documentation>Retrieve Product List</documentation>
            <input message="typens:CatalogGetProductListRequest"/>
            <output message="typens:CatalogGetProductListResponse"/>
        </operation>
        <operation name="CatalogUpdateProduct">
            <documentation>Update Product</documentation>
            <input message="typens:CatalogUpdateProductRequest"/>
            <output message="typens:CatalogUpdateProductResponse"/>
        </operation>
        <operation name="CustomerGetCustomerCount">
            <documentation>Retrieve Customer Count</documentation>
            <input message="typens:CustomerGetCustomerCountRequest"/>
            <output message="typens:CustomerGetCustomerCountResponse"/>
        </operation>
        <operation name="CustomerGetCustomerList">
            <documentation>Retrieve Customer List</documentation>
            <input message="typens:CustomerGetCustomerListRequest"/>
            <output message="typens:CustomerGetCustomerListResponse"/>
        </operation>
        <operation name="SalesGetOrderCount">
            <documentation>Retrieve Order Count</documentation>
            <input message="typens:SalesGetOrderCountRequest"/>
            <output message="typens:SalesGetOrderCountResponse"/>
        </operation>
        <operation name="SalesGetOrderList">
            <documentation>Retrieve Order List</documentation>
            <input message="typens:SalesGetOrderListRequest"/>
            <output message="typens:SalesGetOrderListResponse"/>
        </operation>
        <operation name="SalesGetTaxConfig">
            <documentation>Retrieve Tax Configuration</documentation>
            <input message="typens:SalesGetTaxConfigRequest"/>
            <output message="typens:SalesGetTaxConfigResponse"/>
        </operation>
        <operation name="SalesGetOrderStatus">
            <documentation>Retrieve Order Status</documentation>
            <input message="typens:SalesGetOrderStatusRequest"/>
            <output message="typens:SalesGetOrderStatusResponse"/>
        </operation>
        <operation name="SalesUpdateOrderStatus">
            <documentation>Update Order Status</documentation>
            <input message="typens:SalesUpdateOrderStatusRequest"/>
            <output message="typens:SalesUpdateOrderStatusResponse"/>
        </operation>        
    </portType>
    <binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="CatalogExtensionEnabled">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action"/>
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="CatalogGetProductCount">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action"/>
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="CatalogGetProductList">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action"/>
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="CatalogUpdateProduct">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action"/>
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="CustomerGetCustomerCount">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action"/>
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="CustomerGetCustomerList">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action"/>
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="SalesGetOrderCount">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action"/>
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="SalesGetOrderList">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action"/>
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="SalesGetTaxConfig">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action"/>
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="SalesGetOrderStatus">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action"/>
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="SalesUpdateOrderStatus">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action"/>
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>
    <service name="{{var wsdl.name}}Service">
        <port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
            <soap:address location="{{var wsdl.url}}"/>
        </port>
    </service>
</definitions>
